:root {
    --border-color: #d4d7db;
    --white-color: #fff;

    --background-color-1: #f9fafc;

    --shadow: .4rem .6rem 1rem rgba(0, 0, 0, .1);
}
/* ========================================== */



/* ========================================== */
/* DASHBOARD HEAD */
/* ========================================== */
.dashboard--header {
    display: grid;
    grid-template-columns: 24rem 1fr;
    border-bottom: .1rem solid var(--border-color);
    height: 8rem;
}
.dashboard--logo-box {
    /* background-color: var(--background-color-1); */
    border-right: .1rem solid var(--border-color);
    width: 100%;
    padding: 2.4rem;
    position: relative;
}
.dashboard--logo {
    width: 10rem;
}

.dashboard--header-control {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--white-color);
    border: .1rem solid var(--border-color);
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    box-shadow: var(--shadow);

    position: absolute;
    top: 50%;
    right: 0;
    transition: all .35s;
    transform: translate(50%, -50%);
    cursor: pointer;
    transition: background-color 1500ms cubic-bezier(0.4, 0, 0.2, 1);

    /* user-select: none;
    vertical-align: middle;
    appearance: none;
    overflow: visible;
    -webkit-box-align: center;
    -webkit-box-pack: center; */
}
.dashboard--header-control:active {
    background-color: #5c636d;
}
.header--arrow {
    transition: all .35s;
    font-size: 1.2rem;
}
/* ========================================== */



/* ========================================== */
/* DASHBOARD BASE */
/* ========================================== */
.dashboard--base {
    display: grid;
}
.dashboard--menu {
    padding: 2.4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    border-right: .1rem solid var(--border-color);
    padding-bottom: 2rem;
    height: 120vh;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    /* width: 24rem; */
}
/* ========================================== */



/* ========================================== */
/*  */
/* ========================================== */
.menu--list {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.menu--list span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu--list p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #333;
}
/* ========================================== */



/* ========================================== */
/*  */
/* ========================================== */
.dashboard--list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.dashboard--menu-link {
    display: flex;
    align-self: center;
    width: 100%;
    gap: .6rem;
    color: #5c636d;
    padding: .8rem;
    transition: all .35s;
    text-decoration: none;
    cursor: pointer;
}
.dashboard--menu-link:hover {
    background-color: #eee;
}



/* ========================================== */
/*  */
/* ========================================== */
.dashboard--menu-icon svg {
    font-size: 2rem;
}
.dashboard--menu-link p {
    font-size: 1.3rem;
    font-weight: 500;
    color: inherit;

    display: flex;
    align-items: center;
}
/* ========================================== */



/* ========================================== */
/*  */
/* ========================================== */
.content--block {
    background-color: var(--white-color);
}
/* ========================================== */