:root {
    --border-color: #d4d7db;
    --white-1: #fff;
    --white-2: #f5f5f5;

    --grey-1: #5c636d;
    --grey-2: #555;

    --text-shadow: 0 0.4rem 4rem;

    /* --color-brand-50: #EEF1FF;
    --color-brand-100: #ECF2FF;
    --color-brand-300: #BFACE2;
    --color-brand-500: #655DBB; */

    --color-brand-10: #fffcfb;
    --color-brand-50: #fff0eb;
    --color-brand-70: #ffece6;
    --color-brand-100: #ffe1d7;
    --color-brand-300: #ffb59a;
    --color-brand-500: #ff7a49;
    --color-brand-700: #FF6B35;
    --color-brand-900: #ff5529;

}
/* ========================================== */



body:has(.dashboard--base) {
    height: 100vh;
    overflow: hidden;
}



/* ========================================== */
/* DASHBOARD HEAD */
/* ========================================== */
.dashboard--header {
    display: grid;
    grid-template-columns: 24rem 1fr;
    height: 7rem;
    position: relative;
    z-index: 80;
}   
.logo--container {
    border-right: 1.2px solid var(--border-color);
    /* rgb(238, 239, 241) */
    width: 100%;
    padding: 1.6rem 1.2rem 1.6rem 1.6rem;
    position: relative;
    border-bottom: 1.2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo--container a {
    display: flex;
}
.logo--container img {
    width: 13.5rem;
}
.hamburger--icon {
    background-color: var(--white-2);
    border-radius: .4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6rem .68rem;
    cursor: pointer;
}
.hamburger--icon svg {
    font-size: 2.2rem;
    color: var(--grey-1);
}

/* .x{
    transition: background-color 1500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.x:active {
    background-color: var(--grey-1);
} */

.nav--container {
    width: 100%;
    padding: 1.6rem 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.2px solid var(--border-color);
}
.nav--others {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.store--btn {
    display: inline-flex;
    align-items: center;
    gap: .6rem;

    font-size: 1.4rem;
    font-weight: 600;
    padding: .8rem 1.2rem;
    box-shadow: inset 0 0 0 .16rem var(--color-brand-500);
    background-color: var(--color-brand-50);
    color: var(--color-brand-500);
    border-radius: .4rem;
}
.store--btn svg {
    order: -1;
    font-size: 2rem;
}

.nav--icon {
    background-color: var(--white-2);
    border-radius: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
    color: var(--grey-1);
}
.nav--icon.notification--icon:hover {
    background-color: var(--color-brand-50);
    color: var(--color-brand-500);
}
.nav--icon svg {
    font-size: 2.1rem;
}
.notification--icon {
    border-radius: .4rem;
    padding: .7rem;
}
.user--box {
    border-radius: 50%;
    width: 3.8rem;
    height: 3.8rem;
}
.nav--user {
    display: flex;
    align-items: center;
    gap: .6rem;
    cursor: pointer;
    transition: all .35s;
    position: relative;
    background-color: transparent;
    border: none;
}
.user--info {
    display: flex;
    align-items: center;
    gap: .42rem;
    color: var(--grey-1);
}
.user--name {
    font-size: 1.2rem;
    font-weight: 600;
}
.user--info svg {
    font-size: 1.6rem;
}
.nav--icon.user--icon,
.user--icon,
.user--info {
    transition: all .35s;
}
.nav--user:hover .user--info,
.nav--user:hover .user--icon,
.nav--user:hover .nav--icon.user--icon svg {
    color: var(--color-brand-500);
    background-color: transparent;
}
/* ========================================== */



/* ========================================== */
/*  */
/* ========================================== */
.dropdown {
    min-width: 26rem;
    /* padding: 2.4rem 1.8rem; */
    padding: 1.2rem 0 0;
    background-color: var(--white-1);
    border-radius: .4rem;

    display: flex;
    flex-direction: column;
    gap: .6rem;
    position: absolute;
    top: 7rem;
    right: 0rem;
    box-shadow: 0 0 20px #0000000d;
    z-index: 100;
}

.dropdown--item,
div.dropdown--item,
a.dropdown--item {
    display: flex;
    align-items: center;
    gap: .8rem;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 1rem 2.4rem;
    font-weight: 500;
    color: #515151;
}
.dropdown--item,
.dropdown--item svg {
    transition: all .35s;
}
.dropdown--item:hover {
    background-color: var(--color-brand-50);
}
.dropdown--item:hover,
    .dropdown--item:hover svg {
    color: var(--color-brand-700);
}
.dropdown--item svg {
    font-size: 2rem;
    opacity: .85;
    color: #555;
}

.dropdown--item:last-child {
    border-top: 1.2px solid var(--border-color);
    margin: .6rem 0 1rem;
    padding-top: 2rem;
}
.dropdown--item:last-child:hover {
    background-color: transparent;
    text-shadow: var(--text-shadow) #d90429;
}
.dropdown--item:last-child,
.dropdown--item:last-child svg {
    color: #d90429;
}

.dropdown--item .item--user {
    display: grid;
    grid-template-columns: 3.4rem 1fr;
    gap: .6rem;
    align-items: center;
    margin-left: -.2rem;
}
.item--user-img {
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
}
img.item--user-img {
    object-fit: 100%;
}
span.item--user-img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    background-color: var(--color-brand-500);
    color: #fff;
    text-transform: uppercase;
}
.item--user-info {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.item--user-info p:first-child {
    font-size: 1.42rem;
    font-weight: 600;
    text-transform: capitalize;
}
.item--user-info p:last-child {
    font-size: 1.2rem;
}

/* ========================================== */



/* ========================================== */
/* DASHBOARD BASE */
/* ========================================== */
.dashboard--base {
    display: grid;
    grid-template-columns: 24rem 1fr;
    transition: all .3s ease;
}
.dashboard--base.collapsed {
    grid-template-columns: 6rem 1fr;
}
.dashboard--menu {
    padding: 2.5rem 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    border-right: 1.2px solid var(--border-color);

    height: 90vh;
    overflow-y: auto;
    scrollbar-width: none;

    transition: all .3s ease;

}
.collapsed .dashboard--menu {
    padding: 2.5rem .8rem;
}
/* ========================================== */



/* ========================================== */
/*  */
/* ========================================== */
.menu--block {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    transition: all .3s;
}
.block--heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #aaa;
}
.heading--text {
    font-size: 1.14rem;
    font-weight: 600;
}
.heading--icon {
    padding: .4rem;
    border-radius: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-2);
    cursor: pointer;
} 
.collapsed .heading--icon {
    position: relative;
}

.menu--block.settings .menu--list {
    overflow: hidden;
}
.menu--block.settings .menu--list.menu-unanimate {
    animation: grow-back-up 5s both;
    height: auto;
}
.menu--block.settings .menu--list.menu-animate {
    animation: grow-down 1s both;
    height: 100%;
}

@keyframes grow-down {
    from { height: 0; opacity: 0; }
    to { height: 100%; opacity: 1; }
}
@keyframes grow-back-up {
    from { height: 100%; opacity: 1; }
    to { height: 0; opacity: 0; }
}
/* ========================================== */

/* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); */

/* ========================================== */
/*  */
/* ========================================== */
.menu--list {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.collapsed .menu--list {
    gap: .8rem;
}
.menu--link, button.menu--button {
    width: 100%;
    display: flex;
    align-self: center;
    gap: .6rem;
    color: var(--grey-1);
    background-color: transparent;
    border-right: 2.8px solid transparent;
    padding: .8rem;

    transition: 
        color .35s,
        background-color .35s,
        border-color .35s
    ;
    text-decoration: none;
    cursor: pointer;
    border-radius: .4rem;
    position: relative;
}

button.menu--button {
    border: none !important;
}

.menu--link:hover, .menu--button:hover {
    background-color: var(--white-2);
}
.menu--link.is-active,
.menu--link.is-active:hover {
    background-color: var(--color-brand-50);
    color: var(--color-brand-700);
    border-right-color: var(--color-brand-500);
}
.collapsed .menu--link, .collapsed .menu--button {
    border-color: transparent !important;
    background-color: var(--white-2);
    padding: .8rem 1.1rem;
    position: relative;
}
.collapsed .menu--link.is-active {
    background-color: var(--color-brand-100);
}
.collapsed .menu--icon svg {
    font-size: 2.1rem;
}
.menu--icon svg {
    font-size: 2rem;
}
.menu--text {
    font-size: 1.288rem;
    font-weight: 500;
    color: inherit;
    display: flex;
    align-items: center;
    letter-spacing: -0.15px;
}
.menu--list.last--menu {
    margin-top: 2.4rem;
    /* margin-top: auto; */
}
/* ========================================== */





/* ========================================== */
/*  */
/* ========================================== */
.dashboard--sidemenu {
    min-width: 34rem;
    height: 100vh;
    background-color: #fff;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    
    padding: 3.8rem 1.8rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    border-right: 1.2px solid var(--border-color);

    overflow-y: auto;
    scrollbar-width: none;
    z-index: 115;
    transition: all .3s ease;
    animation: menu-slide-in .25s ease-out both;
    opacity: 1; 
    transform: translateX(0);
}

@keyframes menu-slide-in {
    0% {
        opacity: 0.5; transform: translateX(-40rem);
    }
    100% {
        opacity: 1; transform: translateX(0); 
    }
}
@keyframes menu-slide-out {
    0% { opacity: 1; transform: translateX(0); }
    100% { transform: translateX(-40rem); }
}
  
.dashboard--sidemenu.animate-out {
    animation: menu-slide-out 0.25s ease-out forwards;
}

.dashboard--sidemenu .hamburger--icon {
    position: absolute;
    top: 1.6rem;
    right: 2rem;
}
.dashboard--sidemenu .store--btn {
    display: inline-flex;
    margin: 2.8rem 0 1.8rem;
    justify-content: center;
}
/* ========================================== */



/* ========================================== */
/*  */
/* ========================================== */
.content--block {
    padding: 3.6rem 2.4rem 6.4rem;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 90vh;
}
/* ========================================== */











/* ========================================== */
/*  */
/* ========================================== *

/* 900px === 56.25em */
@media screen and (max-width: 56.25em) {
    /* CHANGED THE WHOLE DASHBOARD LAYOUT FROM GRIDS TO POSISTIONS */
    body {
        position: relative;
    }
    body:has(.dashboard--base) {
        overflow-x: hidden;
        overflow-y: unset;
        height: auto;
    }
    .content--block {
        padding: 10rem 2rem 6rem;
        height: fit-content;
        overflow-y: unset;
    }

    .dashboard--header {
        grid-template-columns: 18rem 1fr;
        border-bottom: 1.3px solid var(--border-color);
        height: auto;
        padding: 1.4rem 1.6rem;
        justify-content: space-between;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 99;
    }
    .logo--container {
        border: none;

        display: flex;
        flex-direction: row-reverse;
        /* gap: 2rem; */
        gap: 1rem;
        padding: 0;
    }
    .logo--container img {
        width: 12rem;
    }
    .nav--container {
        border: none;
        padding: 0;
    }

    .dashboard--base {
        display: block;
    }
    .dashboard--menu {
        display: none;
    }
}


/* 750px === 46.87em */
@media screen and (max-width: 46.87em) {
    .user--name {
        display: none;
    }
    .dashboard--sidemenu {
        padding-bottom: 8rem;
    }
    .dropdown {
        top: 6.6rem;
    }
}


/* 600px === 37.5em */
@media screen and (max-width: 37.5em) {
    .dashboard--header {
        grid-template-columns: 14rem 1fr;
    }
    .logo--container {
        gap: 0rem;
    }
    .logo--container img {
        width: 10rem;
    }
    .dashboard--sidemenu {
        min-width: 100%;
    }
    .store--btn {
        display: none;
    }
    .nav--others {
        gap: .8rem;
    }

    .menu--text {
        font-size: 1.34rem;
        font-weight: 500;
    }
    .content--block {
        padding-left:2rem;
        padding-right:2rem;
    }
}


/* 400px === 25em */
/* @media screen and (max-width: 25em) {} */