

.product__upload--container {
    display: grid;
    grid-template-columns: 2.2fr 1.6fr;
    gap: 1.1rem;
}
.product__upload--container .containers {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.page__section--actions {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.page__section--actions .button {
    padding: 1rem 1.6rem;
    border: none;
    border-radius: .4rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}
.page__section--actions .button:hover {
    opacity: .9;
}
.page__section--actions .clear--button {
    background-color: #333;
}
.page__section--actions .submit--button {
    background-color: var(--color-brand-500);
}




.form.card {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    height: auto;
}
.form.card .section--heading {
    gap: .44rem;
}
.form.card .form--label {
    color: #555;
    font-size: 1.29rem;
}




.form--image {
    width: 100%;
}
/* ====== */
.form--img-box {
    width: 100%;
    height: 16rem;
    border: 1.4px dashed #ddd;
    border-radius: .4rem;
    background-color: #f1f1f1;
    padding: 2rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}
.form--img-box:hover {
    border-color: var(--color-brand-500);
}
.form--img-box.dropping {
    border-color: var(--color-brand-500);
    color: var(--color-brand-500) !important;
}
.form--img-box .img--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;

    text-align: center;
    max-width: 70%;
}
.form--img-box svg {
    font-size: 2rem;
}
.form--img-box h3 {
    font-size: 1.3rem;
    font-weight: 500;
}
.form--img-box p {
    font-size: 1.2rem;
    line-height: 1.4;
}
/* ============== */
.form--image .img--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.4rem;
    row-gap: 2.4rem;
}
.img--grid .img--container {
    width: 100%;
    max-width: 100%;
}
.form--image .img--item {
    width: 100%;
    height: 16rem;
    border: 1.4px solid #ddd;
    background-color: #f1f1f1;
    border-radius: .4rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form--image .img--item img {
    width: 95%;
    height: auto;
    object-fit: cover;
}
.form--image .img--item-btns {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.2rem;
    margin-bottom: .28rem;
}

.form--image .img--spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;

    width: 100%;
    height: 16rem;
}

.form--image button {
    padding: .6rem 1.2rem;
    border: none;
    border-radius: .4rem;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: .6rem;
    cursor: pointer;
}
.form--image button svg {
    font-size: 2rem;
}

.img--item-btns button {
    padding: .4rem .8rem;
    background-color: #333;
    color: #fff;
}

.crop--container {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.form--add {
    border: none;
    display: flex;
    align-items: center;
    gap: .6rem;
    border-radius: .4rem;
    padding: .6rem 1rem;
    justify-content: flex-start;
    cursor: pointer;
    color: var(--color-brand-700);
}
.form--add svg {
    font-size: 1.8rem;
}
.form--add p {
    font-size: 1.28rem;
    font-weight: 500;
}






.status--dot {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: none;
    transition: all .3s;
}
.status--dot.publish {
    background-color: rgb(0, 174, 0);
}
.status--dot.draft {
    background-color: #bbb;
}


.product__upload--container .form--clicks {
    grid-template-columns: 1fr 1.3fr 1fr;
    gap: 1rem;
}
.product__upload--container .form--click {
    font-size: 1.24rem;
    padding: 1rem .6rem;
}
.product__upload--container .form--click span {
    width: 2rem;
    height: 2rem;
}









@media screen and (max-width: 850px) {
    .product__upload--container .form--grid {
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 750px) {
    .product__upload--container {
        grid-template-columns: 1fr;
    }
    .product__upload--container .form--grid {
        grid-template-columns: 1fr 1fr;
    }
    .product__upload--container .form--clicks {
        gap: 1.2rem;
    }

    .product__upload--container .form--click {
        padding: 1.4rem 1rem;
    }
}


@media screen and (max-width: 600px) {
    .form--image .img--grid {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .form--img-box .img--container {
        max-width: 100%;
    }
}


@media screen and (max-width: 450px) {
    .form--img-box,
    .form--image .img--spinner,
    .form--image .img--item {
        height: 12rem;
    }

    .product__upload--container .form--clicks {
        gap: .8rem;
    }
    .product__upload--container .form--click {
        padding: .8rem .6rem;
    }
}


@media screen and (max-width: 400px) {
    .product__upload--container .card {
        border: none;
        box-shadow: unset;
        padding: 0;
    }

    .product__upload--container,
    .product__upload--container .containers {
        gap: 2.8rem;
    }
    
    .product__upload--container .form--grid {
        grid-template-columns: 1fr;
    }
    .product__upload--container .form--text {
        font-size: 1.34rem !important;
    }

    .form--img-box,
    .form--image .img--spinner,
    .form--image .img--item {
        height: 16rem;
    }
    .form.card {
        gap: 1.8rem;
    }
}