@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 63%;
	scroll-behavior: smooth;
}

body {
	font-family: "Raleway", sans-serif;
	background-color: #fff;
	font-size: 1.6rem;
	line-height: 1;
	font-weight: 400;
	color: #444;
    width: 100%;
	transition: none !important;
}

ul,
ol {
	list-style: none;
}

a,
a:link,
a:visited {
	text-decoration: none;
}

form, a, button, input, textarea, select {
	font-family: inherit;
}

/* Parent selector, finally 😃 */
button:has(svg) {
	line-height: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	hyphens: auto;
}

input[type="file"] {
    display: none;
}

width-100 {
	width: 100%;
}

img {
	max-width: 100%;
}
  

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

::-webkit-scrollbar {
	width: .4rem;
	height: .4rem;
}
::-webkit-scrollbar-track {
	background: none;
	border: none;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}

.value {
	font-family: 'Montserrat', 'Raleway', sans-serif;
}

.global--overlay {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	z-index: 110;

	background-color: rgba(0, 0, 0, 0.15);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	cursor: pointer;
}

.modal {
	padding: 2.4rem;
	background-color: #fff;
	position: fixed;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	box-shadow: 0 0 2px #00000040, 0 0 10px #0000000d;
	z-index: 150;
	animation: zoom-in 1s ease-in-out;
}

.modal.full--screen {
	padding: 4.8rem 2.4rem;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.modal.export {
	min-height: 28rem;
	width: 60rem;
}

.modal.simple {
	min-height: 40rem;
	width: 50rem;
}

.modal.simple, 
.modal.export {
	border-radius: 0.6rem;
}



@keyframes zoom-in {
	0% {
		transform: translate(-50%, -50%) scale(0.35);
		opacity: 0;
	}
	15% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
}
.modal--head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.2rem;
	padding-bottom: 1rem;
	border-bottom: 1.4px solid #eee;
}
.modal--head h3 {
	font-weight: 600;
	font-size: 1.8rem;
}
.modal--head svg {
	font-size: 2.4rem;
	cursor: pointer;
}


.export .modal--head {
	border-bottom: none;
}
.export .modal--body {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	margin-top: 2.8rem;
}
.export .modal--body p {
	font-size: 1.4rem;
	font-weight: 500;
	color: #555;
	margin-bottom: .8rem;
	line-height: 1.4;
}
.export .modal--others {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.4rem;
}
.export .modal--others span {
	font-size: 1.2rem;
	font-weight: 600;
}

.export .modal--form {
	display: grid;
	grid-template-columns: 1fr auto;
	justify-content: flex-start;
	align-items: flex-start;
	gap: .8rem;
}
.export button {
	padding: 1.2rem 1rem;
	border: none;
	border-radius: .4rem;
	font-weight: 600;
	font-size: 1.38rem;
	color: #fff;
	background-color: #333;
	align-self: stretch;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: .6rem;
}
.export button svg {
	font-size: 1.8rem;
}
.export .modal--form button {
	background-color: var(--color-brand-500);
}




.button-animated {
    animation: 0.1s ease 0s 1 normal none running launcher;
}
@keyframes launcher {
	0% { opacity: 0; transform: scale(0.5); }
	100% { opacity: 1; transform: scale(1); }
}

.spinner--container {
	width: 100%;
	height: 100vh;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;

	z-index: 200;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	transition: all .2s;
}



.info--item {
	display: flex;
	align-items: center;
	gap: .3rem;
	color: #aaa;
}
.info--item svg {
	font-size: 1.6rem;
}
.info--item p {
	font-size: 1.1rem;
	line-height: 1.3;
	font-weight: 500;
}



.status p {
	min-width: 80px;
    display: inline-block;
    padding: .6rem 1.2rem;
    border-radius: .6rem;
	font-weight: 500;
	font-size: 1.2rem;
	text-transform: capitalize;
}

.status--failed p {
    background-color: #ff9797b7;
    color: red;
}
.status--pending p,
.status--published p {
	background-color: #EEF1FF;
    color: #655DBB;
}
.status--success p,
.status--delivered p {
    color: #008001;
    background-color: #d7ecd1b7;
}
.status--draft p {
    background-color: #f1f1f1;
    color: #888;
}


.flex {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.align {
	flex-direction: row !important;
	align-items: center;
}
.align svg {
	font-size: 1.6rem;
    margin-bottom: -.16rem;
	opacity: .85;
}
.align img {
	width: 2.8rem;
	height: 2.8rem;
	border-radius: .2rem;
}

.general--btn {
	padding: 1rem 1.2rem;
	background-color: var(--color-brand-500);
	border: none;
	font-size: 1.6rem;
	font-weight: 500;
	color: #fff;
	border-radius: .4rem;

	cursor: pointer;
	transition: all .3s;
}
.general--btn:hover {
	opacity: .85;
}

.empty--box {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	flex-direction: column;
	gap: 1.2rem;
	opacity: .85;
}

.empty--box img {
	width: 10rem;
}

.empty--box p {
	font-size: 1.4rem;
	font-weight: 500;
    color: #888;
}

/* ================== */
.empty--order,
.empty--product {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 6rem;
	padding: 3rem 2.4rem;
}
.empty--info h3 {
	font-size: 1.8rem;
	margin-bottom: 1.2rem;
}
.empty--info p {
	font-size: 1.46rem;
	line-height: 1.3;
}
.empty--img {
	padding: 3rem;
	background-color: #f5f5f5;
	border-radius: .4rem;
}
.empty--img img {
	width: 30rem;
}
.empty--btns {
	display: flex;
	align-items: center;
	gap: 2rem;
	margin-top: 1.2rem;
}
.empty--btns button {
	font-size: 1.4rem;
    font-weight: 500;
	cursor: pointer;
    transition: opacity .3s;
}
.empty--btns button:hover {
	opacity: .85;
}
.empty--btns button:nth-child(1) {
	padding: .6rem 1rem;
    border-radius: .4rem;
    border: none;
    color: #fff;
	background-color: #333;
}
.empty--btns button:nth-child(2) {
	padding: 0;
	border: none;
	background-color: transparent;
}
/* ================== */


.page__section-back {
    background-color: #eee;
    color: #333;
    padding: .4rem .8rem;
    border-radius: .4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.page__section-back svg {
    font-size: 2.4rem;
}






/* ============================================= */
/* QUILL RICH TEXT EDITOR STYLES */
/* ============================================= */

/* For the main box */
.quill {
	width: 100% !important;
	border: 1.4px solid #eee !important;
	border-radius: .4rem;
	transition: all .3s;
	-webkit-touch-callout: none !important;
}
.quill:hover,
.quill:hover .ql-toolbar.ql-snow {
	border-color: var(--color-brand-500) !important;
}

/* for the top toolbar section */
.quill .ql-toolbar.ql-snow {
	display: block !important;
	font-family: inherit !important;
	border: none !important;
    border-bottom: 1.4px solid #eee !important;
	transition: all .3s;
}

/* for the heading color */
.quill  .ql-picker.ql-header .ql-picker-item,
.quill .ql-toolbar.ql-snow .ql-picker-label,
.quill .ql-toolbar.ql-snow .ql-picker-label.ql-active,
.quill .ql-toolbar.ql-snow .ql-picker-label:hover {
	/* color: #444 !important; */
	color: var(--color-brand-500) !important;
}

/* For all the formats on the toolbar */
.quill .ql-toolbar.ql-snow .ql-formats .ql-clean {
	display: none;
}

/* for the svgs, specificly the line on the svg on the toolbar */
.quill .ql-toolbar.ql-snow .ql-formats svg .ql-stroke {
	stroke: #595959;
}

/* for the editor field container */
.quill .ql-container.ql-snow {
    border: none !important;
    min-height: 12rem !important;
	height: 70% !important;
}


/* the editor field itself */
.quill .ql-editor {
	width: 100% !important;
	font-family: inherit !important;
}
.quill .ql-editor * {
	overflow-wrap: normal;
	hyphens: unset;
	font-family: "Raleway", sans-serif !important;
}



/* MAIN REACT DROPDOWN */
.react-dropdown-select.form--select {
	border: 1.4px solid #eee !important;
	border-radius: .4rem !important;
	padding: .8rem 1.2rem !important;
	text-transform: capitalize !important;
}
.react-dropdown-select.form--select:hover {
	border-color: var(--color-brand-500) !important;
}
.react-dropdown-select.form--select input {
	font-size: 1.4rem !important;
	font-weight: 500;
	color: #888;
}

.react-dropdown-select.form--select:focus,
.react-dropdown-select.form--select:focus-within {
	border-color: var(--color-brand-500) !important;
	box-shadow: unset !important;
	padding: .8rem 1.2rem !important;
}
.react-dropdown-select-clear {
	font-size: 2rem !important;
}
.react-dropdown-select-separator {
	height: 2rem !important;
	border-left: 1.4px solid #eee !important;
}
.react-dropdown-select-dropdown {
	top: 45px !important;
	border-radius: .4rem !important;
	border: 1.2px solid #eee !important;
	width: 100% !important;
}
.react-dropdown-select-item {
	padding: 1rem 1.2rem !important;
}


/* FRESH WORK */
#launcher-frame {
	max-width: 8.6rem !important;
	border: 1px solid #000;
}


/* REACT DATA TABLE */
.page__section--main .hZZlND {
	border-radius: 0 !important;
}




/* 600px === 37.5em */
/* MAX WIDTH - MOBILE MEDIA QUERY */
@media screen and (max-width: 37.5em) {
    html {
        font-size: 66%;
    }

	.empty--order,
	.empty--product {
		display: grid;
		grid-template-columns: 1fr;
		gap: 4rem;
	}
	.empty--img {
		max-width: 22rem;
		padding: 2.4rem;
	}
	.empty--img img {
		width: 18rem;
	}

	.modal {
		width: 100% !important;
		height: 100%;
	}
}


@media screen and (max-width: 450px) {
	.empty--order,
	.empty--product {
		padding: 0;
	}

	.modal {
		padding: 2rem 1.4rem;
	}
	.modal.full--screen {
		padding: 4.8rem 2rem;
	}

	/*  */
	.ql-toolbar.ql-snow .ql-formats {
		margin-right: 8px;
	}
	.quill .ql-toolbar.ql-snow {
		display: flex !important;
		flex-wrap: wrap;
	}
	.quill .ql-toolbar.ql-snow .ql-formats button {
		padding: 3px 0;
	}
	.quill .ql-container.ql-snow {
		border: none !important;
		min-height: 10rem !important;
	}
}


@media screen and (max-width: 400px) {
	.justify {
		align-items: flex-start;
		flex-direction: column;
	}

	.empty--img {
		max-width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.export .modal--head {
		border-bottom: 1.4px solid #eee;
	}
	.export .modal--form {
		grid-template-columns: 1fr;
	}
}


@media screen and (max-width: 360px) {
	.flex {
		align-items: flex-start;
		flex-direction: column;
	}
	.ql-toolbar.ql-snow .ql-formats {
		margin-right: 2px;
	}
}