@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
    --border-color: #eeeff1;
}

body {
	font-family: "Open Sans", sans-serif;
    background-color: #fff;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 400;
    color: #333;

    height: 100vh;
    overflow: hidden;
}

ul {
    list-style: none;
}

a, a:link, a:visited {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


::-webkit-scrollbar {
	width: 0.4rem ;
}
::-webkit-scrollbar-track {
	background: none;
	border: none;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}

.line {
    border: 1px solid #eeeff1;
}