@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	--border-color: #eeeff1;
}

body {
	font-family: "Raleway", sans-serif;
	background-color: #fff;
	font-size: 1.6rem;
	line-height: 1;
	font-weight: 400;
	color: #444;
    width: 100%;
	transition: all .2s ease-in;
}

@media (prefers-color-scheme: dark) {
	body.dark-mode {
		background-color: #161616;
		color: #fff;
	}
}

ul,
ol {
	list-style: none;
}

a,
a:link,
a:visited {
	text-decoration: none;
}

/* Parent selector, finally 😃 */
button:has(svg) {
	line-height: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	hyphens: auto;
}

img {
	max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

::-webkit-scrollbar {
	width: .4rem;
	height: .4rem;
}
::-webkit-scrollbar-track {
	background: none;
	border: none;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}

/* .line {
	border-top: 1.24px solid var(--border-color);
} */

.global--overlay {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	z-index: 110;

	background-color: rgba(0, 0, 0, 0.15);
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
}

.button-animated {
    animation: 0.1s ease 0s 1 normal none running launcher;
}
@keyframes launcher {
	0% { opacity: 0; transform: scale(0.5); }
	100% { opacity: 1; transform: scale(1); }
}

.spinner--container {
	width: 100%;
	height: 100vh;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;

	z-index: 200;
	background-color: rgba(0, 0, 0, 0.15);
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
}


.status p {
	min-width: 80px;
    display: inline-block;
    padding: .6rem 1.2rem;
    border-radius: .6rem;
	font-weight: 500;
	font-size: 1.2rem;
	text-transform: capitalize;
}

.status--failed p {
    background-color: #ff9797b7;
    color: red;
}
.status--pending p {
    background-color: #aba7fa94;
    color: #4e48f0;
}
.status--success p,
.status--delivered p {
    color: #008001;
    background-color: #d7ecd1b7;
}


/* 600px === 37.5em */
/* MIN WIDTH - DESKTOP MEDIA QUERY */
@media screen and (min-width: 37.5em) {
	body {
		height: 100vh;
		overflow: hidden;
	}
}

/* MAX WIDTH - MOBILE MEDIA QUERY */
@media screen and (max-width: 37.5em) {
    html {
        font-size: 65%;
    }
}