


.error__container {
    max-width: 60rem;
    margin: 10rem auto;
    padding: 0 2.8rem;
    height: 70vh;

    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
}

.error__heading {
    font-size: 8rem;
    font-weight: 500;
    /* margin-bottom: 2rem; */

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.error__text {
    font-size: 2rem;
    /* margin-bottom: 2.4rem; */
    line-height: 1.4;
}

.error__btn {
    font-size: 1.6rem;
    padding: 1.2rem 2.4rem;
    text-transform: capitalize;
    background-color: #333;
    color: #fff !important;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}




@media screen and (max-width: 600px) {
    .error__heading {
        font-size: 8rem;
        margin-bottom: 1rem;
    }
    .error__heading span {
        display: none;
    }
    .error__text {
        font-size: 1.8rem;
        margin-bottom: 1.4rem;
    }
}